* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#root {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: var(--seasalt);
  box-shadow: var(--blackdemon);
  padding-top: 1rem;
  padding-bottom: 2rem;


  /* background-color: rgba(0, 0, 0, 0.161); */
}

